<div class="formulario-curso">

  <div class="volver-container">
    <button type="button" class="btn-accion" routerLink="/restringido/carrera">Volver</button>
    <button type="button" class="btn-accion" (click)="listarCursoInfoCurso()" style="margin-left: 1rem;">Listar Cursos</button>
  </div>

  <!--PARA EL FILTRADO DE CARRERA-->
  <div class="form-group filtro-carrera">
    <label for="filtroCarrera">Filtrar por carrera:</label>
    <select style="margin-bottom: 2rem;" id="filtroCarrera" [(ngModel)]="idCarreraSeleccionada"
      (change)="filtrarCursoPorCarrera()" [ngModelOptions]="{standalone: true}">
      <option value="">-- Todas las carreras --</option>
      @for (carrera of carreras$ | async; track carrera.id_carrera) {
      <option [value]="carrera.id_carrera">{{ carrera.nombreCarrera }}</option>
      }
    </select>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="guardarCurso()">
    <div class="form-container">
      <div class="form-title">Agregar Curso e Información del Curso</div>

      <div class="form-row">
        <!-- Columna Izquierda -->
        <div class="form-col izquierda">
          <div class="form-group">
            <label for="nombreCurso">Nombre curso:</label>
            <input type="text" id="nombreCurso" formControlName="nombre" placeholder="Ingrese el nombre del curso">

            <!--validacion reactiva-->
            @if (nombre?.touched && nombre?.invalid) {
            @if (nombre?.hasError('required')) {<div class="error">Este campo es obligatorio</div>}
            @if (nombre?.hasError('minlength')) {<div class="error">Debe tener al menos 2 caracteres</div>}
            @if (nombre?.hasError('maxlength')) {<div class="error">Debe tener como máximo 70 caracteres</div>}
            }
            <!--validacion del backend-->
            @if (formulario.get('nombre')?.errors?.['backend']) {
            <div class="error">
              {{ formulario.get('nombre')?.errors?.['backend'] }}
            </div>
            }
          </div>

          <div class="form-group">
            <label for="nombreCarrera">Nombre carrera:</label>
            <select id="nombreCarrera" formControlName="id_carrera">
              <option value="">Seleccione una carrera</option>
              @for (carrera of carreras$ | async; track carrera.id_carrera) {
              <option [value]="carrera.id_carrera">{{ carrera.nombreCarrera }}</option>
              }
            </select>
            @if (formulario.get('id_carrera')?.errors?.['backend']) {
            <div class="error">
              {{ formulario.get('id_carrera')?.errors?.['backend'] }}
            </div>
            }
          </div>

          <div class="form-group">
            <label for="cicloCurso">Ciclo del curso:</label>
            <input type="text" id="cicloCurso" formControlName="ciclo" placeholder="Ej: 2">

            @if (ciclo?.touched && ciclo?.invalid) {
            @if (ciclo?.errors?.['required']) {<div class="error">Campo obligatorio</div>}
            @if (ciclo?.errors?.['min']) {<div class="error">Debe ser al menos 1</div>}
            @if (ciclo?.errors?.['max']) {<div class="error">Maximo hasta 10</div>}
            }

            @if (formulario.get('ciclo')?.errors?.['backend']) {
            <div class="error">
              {{ formulario.get('ciclo')?.errors?.['backend'] }}
            </div>
            }
          </div>
        </div>

        <!-- Columna Derecha -->
        <div class="form-col derecha">
          <div class="form-group">
            <label for="horaSemanal">Hora semanal:</label>
            <input type="text" id="horaSemanal" formControlName="horaSemanal" placeholder="Ej: 4">

            @if (horaSemanal?.touched && horaSemanal?.invalid) {
            @if (horaSemanal?.errors?.['required']) {<div class="error">Campo obligatorio</div>}
            }

            @if (formulario.get('horaSemanal')?.errors?.['backend']) {
            <div class="error">
              {{ formulario.get('horaSemanal')?.errors?.['backend'] }}
            </div>
            }
          </div>

          <div class="form-group">
            <label for="credito">Crédito:</label>
            <input type="number" id="credito" formControlName="credito" placeholder="Ej: 3">

            @if (credito?.touched && credito?.invalid) {
            @if (credito?.errors?.['required']) {<div class="error">Campo obligatorio</div>}
            @if (credito?.errors?.['min']) {<div class="error">Debe ser al menos 1</div>}
            @if (credito?.errors?.['max']) {<div class="error">Máximo 9 créditos</div>}
            }

            @if (formulario.get('credito')?.errors?.['backend']) {
            <div class="error">
              {{ formulario.get('credito')?.errors?.['backend'] }}
            </div>
            }
          </div>

          <div class="form-group">
            <label for="tipoCurso">Tipo:</label>
            <input type="text" id="tipoCurso" formControlName="tipo" placeholder="Ej: Obligatorio">

            @if (tipo?.touched && tipo?.invalid) {
            @if (tipo?.errors?.['required']) {<div class="error">Campo obligatorio</div>}
            }

            @if (formulario.get('tipo')?.errors?.['backend']) {
            <div class="error">
              {{ formulario.get('tipo')?.errors?.['backend'] }}
            </div>
            }
          </div>
        </div>
      </div>

      <button type="submit" class="btn-submit" [disabled]="formulario.invalid">AGREGAR</button>


      <div class="tabla-responsive">
        <table class="tabla-curso">
          <thead>
            <tr>
              <th>Nombre Curso</th>
              <th>Nombre Carrera</th>
              <th>Ciclo</th>
              <th>Hora Semanal</th>
              <th>Crédito</th>
              <th>Tipo</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            @for (curso of cursoInfoCursoResponse$ | async; track curso.id_curso) {
            <!--"ESTO LE DICE Por favor Angular, si cambia algo en la lista de cursos, no redibujes toda la tabla, solo redibuja lo que cambió. Y para saber qué cambió, usa el id_curso."-->
            <tr>
              <td>{{ curso.nombre }}</td>
              <td>{{ curso.nombreCarrera }}</td>
              <td>{{ curso.ciclo }}</td>
              <td>{{ curso.horaSemanal }}</td>
              <td>{{ curso.credito }}</td>
              <td>{{ curso.tipo }}</td>
              <td>
                <button class="btn-accion editar" (click)="editarCurso(curso)">Editar</button>
                <button class="btn-accion eliminar" (click)="eliminarCurso(curso.id_curso)">Eliminar</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>