* {
    box-sizing: border-box;
}
.fondo-registro-estudiante{
   background-color: #30465E;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,390px); /*380px el tamaño de la fila, para que entre todo el contenido , similar al de contenedorDerecha grid-template-rows*/
    gap: 5px;
    margin: 1rem;
    padding: 4rem;
    border: 1px solid blue;
}

.izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorDerecha{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,49px); /*El tamaño de la fila , tiene que ser grandecito para que entre el label y input*/
    gap: 2rem;
    div{
        margin:2px;
    }
}

.contenedorDerecha button {
    grid-column: span 2; /* botón ocupa las dos columnas */
    padding: 7px;    
}

.campo{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 0rem;
    input{
        padding:8px 10px;
        border-radius: 6px;
    }
}

