<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> <!-- Agrega Bootstrap Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="shortcut icon" href="/imgEstilosIcon/inicio.ico" type="image/x-icon">


<footer>
    <div class="contenedor-a">
        <div class="a-1"><a href="/cliente/nuevo">Registrate para recibir las ofertas recientes</a>
        </div>
        <div class="a-2">
            <a class="ag" href="https://www.facebook.com/abelpaulo.durandpalacios?locale=es_LA"><i
                    class="fab fa-facebook"></i></a>
            <a class="ag" href="https://www.youtube.com/@AbelDurandPalacios"><i class="fab fa-instagram"
                    style="margin: 4px; font-size: 18px;"></i></a>
            <a class="ag" href="mailto:abelpaulo.durandpalacios21@gmail.com"><i class="fab fa-twitter"
                    style="margin: 4px; font-size: 18px;"></i> </a>
            <a class="ag" href="https://wa.me/922382875"><i class="fab fa-linkedin"
                    style="margin: 4px; font-size: 18px;"></i></a>
        </div>
    </div>

    <div class="contenedor-b">
        <div class="b-1">
            <h5 style="color: white;">Universidad</h5>
            <ul>
                <li><a href="#">Acerca de Complutense</a></li>
                <li><a href="#">Equipo Directivo</a></li>
                <li><a href="#">Responsabilidad corporativa</a></li>
                <li><a href="#">Programadores</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </div>
        <div class="b-1">
            <h5 style="color: white;">Noticia y Eventos</h5>
            <ul>
                <li><a href="#">Sala de Universidad</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Bibloteca multimedia</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </div>
        <div class="b-1">
            <h5 style="color: white;">Comunidad</h5>
            <ul>
                <li><a href="#">Asistencia</a></li>
                <li><a href="#">Desarrolladores</a></li>
                <li><a href="#">Red team</a></li>
                <li><a href="#">Desarrolladores</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </div>
        <div class="b-1">
            <h5 style="color: white;">Socios de negocios</h5>
            <ul>
                <li><a href="#">Acerca de Movil Tech</a></li>
                <li><a href="#">Equipo Directivo</a></li>
                <li><a href="#">Responsabilidad corporativa</a></li>
                <li><a href="#">Desarrolladores</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </div>
        <div class="b-1">
            <h5 style="color: white;">Inversionistas</h5>
            <ul>
                <li><a href="#">Relacion con Inversionistas</a></li>
                <li><a href="#">Informaciom financiera</a></li>
                <li><a href="#">Directorio</a></li>
                <li><a href="#">Pautas de directorio empresarial</a></li>
                <li><a href="#">Presentaciones</a></li>
            </ul>
        </div>
    </div>

    <div class="c-1">
        <div style="margin-bottom:2.5rem;">
            Términos y Condiciones | Privacidad | Marcas Comerciales | Transparencia de la cadena de suministro
            Competencia Justa y Abierta | Estrategia fiscal del Reino Unido | Política sobre “Cookies” Configuración
            de cookies
        </div>
        <div>
            © 2025 Advanced Micro Devices, Universidad Complutense.
        </div>
    </div>
</footer>