<div class="form-actions">
  <button style="margin: 4px;" type="button" routerLink="/restringido/panelAdmin">Volver</button>
</div>

<div class="seccion-container">
  <h2 class="form-title">Registro de Secciones</h2>

  <form class="seccion-form" [formGroup]="formulario" (ngSubmit)="agregarSeccion()">
    <div class="form-grid">
      <div class="form-field">
        <label>Curso</label>
        <select formControlName="id_curso">
          <option value="">Seleccione un curso</option>
          @for (curso of curso$ | async; track curso.id_curso) {
          <option [value]="curso.id_curso">{{' Ciclo: ' +curso.ciclo +' - '+ curso.nombre + ' - ' + curso.carrera.nombreCarrera }}</option>
          }
        </select>
      </div>

      <div class="form-field">
        <label>Horario</label>
        <input type="text" formControlName="horario" placeholder="Ej: 8:30 - 11:30" />
        @if (formulario.get('horario')?.errors?.['backend']) {
        <div class="error">
          {{ formulario.get('horario')?.errors?.['backend'] }}
        </div>
        }
      </div>

      <div class="form-field">
        <label>Aula</label>
        <input type="text" formControlName="aula" placeholder="Ej: 403" />
        @if (formulario.get('aula')?.errors?.['backend']) {
        <div class="error">
          {{ formulario.get('aula')?.errors?.['backend'] }}
        </div>
        }
      </div>

      <div class="form-field">
        <label>Profesor</label>
        <select formControlName="id_profesor">
          <option value="">Seleccione un docente</option>
          @for (docente of docen$ | async; track docente.id_profesor) {
          <option [value]="docente.id_profesor">{{ docente.nombre + ' ' + docente.apellido }} </option>
          }
        </select>
      </div>

      <div class="form-field">
        <label>Cupos</label>
        <input type="number" formControlName="cupos" />
        @if (formulario.get('cupos')?.errors?.['backend']) {
        <div class="error">
          {{ formulario.get('cupos')?.errors?.['backend'] }}
        </div>
        }
      </div>

      <div class="form-field">
        <label>Modalidad</label>
        <select formControlName="modalidad">
          <option value="Presencial">Presencial</option>
          <option value="Virtual">Virtual</option>
          <option value="Semipresencial">Semipresencial</option>
        </select>
        @if (formulario.get('modalidad')?.errors?.['backend']) {
        <div class="error">
          {{ formulario.get('modalidad')?.errors?.['backend'] }}
        </div>
        }
      </div>
    </div>

    <div class="form-actions">
      <button style="margin: 4px;" type="submit">{{ editando ? 'Actualizar Sección' : 'Agregar Sección' }}</button>
      @if (editando) {
      <button style="margin: 4px;" type="button" (click)="cancelarEdicion()">Cancelar</button>
      }
    </div>
  </form>

  <hr />

  <h3>Resumen de Secciones Agregadas</h3>
  <div class="tabla-resumen">
    <table>
      <thead>
        <tr>
          <th>Curso</th>
          <th>Horario</th>
          <th>Aula</th>
          <th>Profesor</th>
          <th>Cupos</th>
          <th>Modalidad</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        @for (seccion of secciones$ | async; track seccion.idSeccion) {
        <tr>
          <td>{{'Ciclo: '+ seccion.curso.ciclo + ' - '+ seccion.curso.nombre + ' - ' + seccion.curso.carrera.nombreCarrera }}</td> <!--No captura de la interfaz nada de eso , CAPTURA DE LA MISMA SECCION , AL HACER GET BUSCA LA RELACION DE LOS ID DE LOS FK Y OBTIENE TANTO LOS DATOS DE SECCION Y TODO LOS DATOS COMPLETOS DEL FK COMO CURSO Y PROFESORES Y PODEMOS HACER EL FILTRADO-->
          <td>{{ seccion.horario }}</td>
          <td>{{ seccion.aula }}</td>
          <td>{{ seccion.profesores.nombre + ' - ' + seccion.profesores.apellido }} </td>
          <td>{{ seccion.cupos }}</td>
          <td>{{ seccion.modalidad }}</td>
          <td>
            <button (click)="editarSeccion(seccion)">✏️</button>
            <button (click)="eliminarSeccion(seccion.idSeccion)">🗑️</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>