<div class="cuerpo">
  <div class="panel-container">
    <!-- Botones superiores -->
    <div class="button-group">
      <button class="btn" routerLink='/restringido/alumno/registrar'>Registrar Alumno</button>
      <button class="btn" routerLink='/restringido/panelRecep'>Volver al Panel</button>
      <button class="btn" type="button" (click)="listarEstudiantes()">Mostrar Todos los Alumnos</button>
    </div>
    

    <!-- Buscar por DNI -->
    <div class="search-section">
      <input type="text" [(ngModel)]="dniBuscar" placeholder="Digitar el DNI">
      <button (click)="buscarPorDni()">Buscar</button>
    </div>

    <!-- Tabla de alumnos -->
    <table>
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Carrera</th>
          <th>Teléfono</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        @if (estud$ | async; as estudiantes) {
        @for (estu of estudiantes; track estu.dni_estudiante) {
        <tr>
          <td>{{ estu.dni_estudiante }}</td>
          <td>{{ estu.nombre }}</td>
          <td>{{ estu.apellido }}</td>
          <td>{{ estu.correo }}</td>
          <td>{{ estu.carrera }}</td>
          <td>{{ estu.telefono }}</td>
          <td>
            <button class="action-btn edit-btn">Editar</button>
            <button class="action-btn delete-btn" (click)="eliminarEstudiante(estu.dni_estudiante)">Eliminar</button>
          </td>
        </tr>
        }
        } @else {
        <tr>
          <td colspan="3">Cargando estudiantes...</td>
        </tr>
        }
      </tbody>
    </table>

  </div>
</div>