.campo select {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.2s ease-in-out;
  background-color: white;
  font-size: 14px;
}

.campo select:focus {
  border-color: #2980b9;
  outline: none;
  background-color: #eef6fc;
}

.fondo-registro-estudiante {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

@media (min-width: 1px) and (max-width: 1133px) {
    .contenedor {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 420px);/*420px el tamaño de la fila, para que entre todo el contenido , similar al de contenedorDerecha grid-template-rows*/
        gap: 7px;
        padding: 3rem;


        background-color: #ffffff10;
        border: 2px solid #ffffff30;
        border-radius: 15px;
        backdrop-filter: blur(8px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    }


    .izquierda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .izquierda img {
        width: 440px;
        height: 440px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    }

    .contenedorDerecha {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 49px);
        /*El tamaño de la fila , tiene que ser grandecito para que entre el label y input*/
        gap: 3rem;

        div {
            margin: 2px;
        }
    }

    .contenedorDerecha button {
        grid-column: span 2;
        /* botón ocupa las dos columnas */
        padding: 10px;
        font-size: 16px;
        background-color: #2980b9;
        color: white;
        border: none;
        border-radius: 8px;

        font-weight: bold;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


    .contenedorDerecha button:hover {
        background-color: #1c5980;
        cursor: pointer;
    }

    .campo {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        margin: 2rem;

        label {
            color: #f0f0f0;
            font-weight: 600;
            font-size: 14px;
            font-family: 'Segoe UI', sans-serif;
        }

        input {
            padding: 10px 12px;
            border-radius: 6px;
            border: 1px solid #ccc;
            font-family: 'Segoe UI', sans-serif;
            transition: all 0.2s ease-in-out;
        }

        .campo input:focus {
            border-color: #2980b9;
            outline: none;
            background-color: #eef6fc;
        }


    }
}

@media screen and (min-width: 1134px) {

    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 420px);/*420px el tamaño de la fila, para que entre todo el contenido , similar al de contenedorDerecha grid-template-rows*/
        gap: 5px;
        padding: 1.5rem;


        background-color: #ffffff10;
        border: 2px solid #ffffff30;
        border-radius: 15px;
        backdrop-filter: blur(8px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    }

    .izquierda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .izquierda img {
        width: 440px;
        height: 440px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    }

    .contenedorDerecha {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 49px);
        /*El tamaño de la fila , tiene que ser grandecito para que entre el label y input*/
        gap: 3rem;

        div {
            margin: 2px;
        }
    }

    .contenedorDerecha button {
        grid-column: span 2;
        /* botón ocupa las dos columnas */
        padding: 10px;
        font-size: 16px;
        background-color: #2980b9;
        color: white;
        border: none;
        border-radius: 8px;

        font-weight: bold;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 6px;
    }


    .contenedorDerecha button:hover {
        background-color: #1c5980;
        cursor: pointer;
    }

    .campo {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        margin: 0rem;

        label {
            color: #f0f0f0;
            font-weight: 600;
            font-size: 14px;
            font-family: 'Segoe UI', sans-serif;
        }

        input {
            padding: 10px 12px;
            border-radius: 6px;
            border: 1px solid #ccc;
            font-family: 'Segoe UI', sans-serif;
            transition: all 0.2s ease-in-out;
        }

        .campo input:focus {
            border-color: #2980b9;
            outline: none;
            background-color: #eef6fc;
        }

    }

}